# Don't copy this folders into the image
**/node_modules
**/.git
**/README.md
**/LICENSE
**/.vscode
**/*.code-workspace
**/npm-debug.log
**/coverage
**/.env
**/.editorconfig
**/.aws
**/dist
**/docs
**/documentation

/database
/driver-options
/files
/logs
