# Don't copy this folders into the image
**/node_modules
**/.git
**/.github
**/README.md
**/LICENSE
**/.vscode
**/*.code-workspace
**/npm-debug.log
**/coverage
**/.env
**/env
**/.blackbox
**/.editorconfig
**/dist
**/docs
**/documentation

/database
/files
/logs
