# Don't copy this folders into the image
**/node_modules
**/.git
**/README.md
**/LICENSE
**/.vscode
**/*.code-workspace
**/npm-debug.log
**/coverage
**/.env
**/icei-d3c94-firebase-adminsdk-t8m9s-dd78a3384a.json
**/.editorconfig
**/.aws
**/dist
**/docs
/database
